<div class="grid-item large--one-half">
  <div class="product-grid-image">
    <img src="{{ product.featured_image.src | product_img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}">
  </div>
</div>
