<ul class="site-nav" id="accessibleNav">
  <li><a href="#why">Buy</a></li>
  <li><a href="#">Benefits</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">FAQ</a></li>
  <li><a href="#">Contact</a></li>
  <li><a href="/cart" id="cartToggle">
    Cart (<span id="cartCount">{{ cart.item_count }}</span> {{ cart.item_count | pluralize: 'item', 'items' }} <span id="cartCost">{{ cart.total_price | money }}</span>)
  </a></li>
</ul>
