<ul class="site-nav" id="accessibleNav">
  <li class="usr-logo"><a href="/" itemprop="url">
    <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
  </a></li>
  <li><a href="#why">Buy</a></li>
  <li><a href="#">Benefits</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">FAQ</a></li>
  <li><a href="#">Contact</a></li>
</ul>
