<div class="grid-uniform">

  <div class="hero ">
    <div class="wrapper">
      <div class="hero-cover">
      <img class="grid-item" src="//cdn.shopify.com/s/files/1/0578/9473/files/contoursrx-lids-logo_large.png?25375"/>
      </div>
    </div>
  </div>
  <div id="crx-content">
    <div class="white-bg">
      <div class="wrapper">
        <div class="grid">
          <div class="section-header grid--center">
            <a class="anchor" id="top" style="text-decoration: none;">About LIDS BY DESIGN</a>
            <p class="proof-copy-skinny">
              Welcome, I am the President and CEO of ContoursRx, but more importantly I am a client of my own company. I struggled my whole life with heavy eyelids. As I got older I noticed my lids were only getting droopier and sagging as well as had become asymmetrical. I adopted hair styles to cover this problem and had become very aware that it was impacting me and my confidence. I among many people struggle with this issue.
            </p>
            <p class="proof-copy-skinny">
            Eyelid surgery has become the Top 3 Cosmetic Surgical Procedures in 2013 according to the American Society of Plastic Surgeons… I would say I’m not the only one who struggles. If you want a safe non-surgical way to correct instantly the issues you may have-immediately-without any major decisions, surgeries or downtime, then LIDS BY DESIGN was made for you.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="purchase">
      <div class="wrapper grid--full">
          {% for product in collections.frontpage.products limit:1 %}
            {% assign grid_item_width = 'large--one-half medium--one-half' %}
            {% include 'product-grid-item' %}
          {% endfor %}
          <div class="grid-item large--one-half medium--one-half">

          </div>
      </div>
    </div>

      <div class="benefits">
        <div class="wrapper">
          <div class="grid">
            <div class="section-header grid--center">
              <a class="anchor" id="top" style="text-decoration: none;">Why Use LIDS BY DESIGN?</a>
            </div>
          </div>
          <div class="grid">
            <div class="grid--center grid-item large--one-third">
              <img src="http://placehold.it/300x300" alt="product graphic 1">
              <h2 class="proof-head">
                Extremely High Quality
              </h2>
              <p class="proof-copy">
                LIDS BY DESIGN is made using the top medical grade tape and adhesive.
              </p>
            </div>
            <div class="grid--center grid-item large--one-third">
              <img src="http://placehold.it/300x300" alt="product graphic 1">
              <h2 class="proof-head">
                Comfortable
              </h2>
              <p class="proof-copy">
                The strips are breathable, leave no residue and are virtually invisible.
              </p>
            </div>
            <div class="grid--center grid-item large--one-third">
              <img src="http://placehold.it/300x300" alt="product graphic 1">
              <h2 class="proof-head">
                Safe
              </h2>
              <p class="proof-copy">
                Easy to apply with no mess or hassles. It’s Safe, Easy and Instant.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="how-to">
        <div class="wrapper">
          <div class="grid">
            <div class="section-header grid--center">
              <a class="anchor" id="top" style="text-decoration:none;">Tips on How to Apply</a>
            </div>
          </div>
          <div class="grid">
            <div class="grid--center grid-item large--one-third">
              <img src="http://placehold.it/300x300" alt="product graphic 1">
              <h2 class="proof-head">
                Apply to a Clean Face.
              </h2>
              <p class="proof-copy">
                For best results you’ll want to wash hands and face before applying getting rid of any dirt, make-up and oils.
              </p>
            </div>
            <div class="grid--center grid-item large--one-third">
              <img src="http://placehold.it/300x300" alt="product graphic 2">
              <h2 class="proof-head">
                Use the Tweezers.
              </h2>
              <p class="proof-copy">
                Peel the strips off of the plastic sheet, apply the strip where your lid is folding or sagging.
              </p>
            </div>
            <div class="grid--center grid-item large--one-third">
              <img src="http://placehold.it/300x300" alt="product graphic 3">
              <h2 class="proof-head">
                Ensure a good bond.
              </h2>
              <p class="proof-copy">
                Press gently on the strip once positioned corretly on the lid. Proper application will last all 24 hours.
              </p>
            </div>
          </div>
        </div>

      <div class="gallery">

      </div>

      <div class="faqs">

      </div>
      {% include 'footer' %}
  </div>
</div>
