<div class="grid-uniform">

  <div class="hero ">
    <div class="wrapper">
      <div class="grid-item">

      </div>
    </div>
  </div>
  <div id="crx-content">
      <div class="purchase">
        <div class="wrapper grid--full">
            {% for product in collections.frontpage.products limit:1 %}
              {% assign grid_item_width = 'large--one-half medium--one-half' %}
              {% include 'product-grid-item' %}
            {% endfor %}
            <div class="grid-item large--one-half medium--one-half">

            </div>
        </div>
      </div>

      <div class="benefits">
        <div class="wrapper">
          <div class="grid">
            <div class="section-header grid--center grid-item">
              <a name="benefits" style="text-decoration:none;">why use lids by design</a>
            </div>
          </div>
          <div class="grid">
            <div class="grid--center grid-item large--one-third">
              <img src="http://placehold.it/300x300" alt="product graphic 1">
              <h2 class="proof-head">
                Extremely High Quality
              </h2>
              <p class="proof-copy">
                LIDS BY DESIGN is made using the top medical grade tape and adhesive.
              </p>
            </div>
            <div class="grid--center grid-item large--one-third">
              <img src="http://placehold.it/300x300" alt="product graphic 1">
              <h2 class="proof-head">
                Comfortable
              </h2>
              <p class="proof-copy">
                The strips are breathable, leave no residue and are virtually invisible.
              </p>
            </div>
            <div class="grid--center grid-item large--one-third">
              <img src="http://placehold.it/300x300" alt="product graphic 1">
              <h2 class="proof-head">
                Safe
              </h2>
              <p class="proof-copy">
                Easy to apply with no mess or hassles. It’s Safe, Easy and Instant.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="how-to">
        <div class="wrapper">
          <div class="grid">
            <div class="section-header grid--center">
              <a name="benefits" style="text-decoration:none;">How to apply</a>
            </div>
          </div>
          <div class="grid">
            <div class="grid--center grid-item large--one-third">
              <img src="http://placehold.it/300x300" alt="product graphic 1">
            </div>
            <div class="grid--center grid-item large--one-third">
              <img src="http://placehold.it/300x300" alt="product graphic 2">
            </div>
            <div class="grid--center grid-item large--one-third">
              <img src="http://placehold.it/300x300" alt="product graphic 3">
            </div>
          </div>
        </div>

      <div class="gallery">

      </div>

      <div class="faqs">

      </div>
      {% include 'footer' %}
  </div>
</div>
