<div class="crx-hero-container">
  <div class="crx-hero">
    <h1 class="crx-hero-head">
      Eyelid correcting strips that produce instant results.
    </h1>
  </div>
</div>
<div class="product tiffany-blue">
    <div class="grid">
        <div class="product-render grid-item large--one-half"">
            <img src="//cdn.shopify.com/s/files/1/0578/9473/files/contours-rx-product-3mm_grande.jpg?8116" alt="" />
        </div>

    </div>
    <div class="grid">
        <div class="product-render grid-item large--one-half"">
            <img src="//cdn.shopify.com/s/files/1/0578/9473/files/contours-rx-product-3mm_grande.jpg?8116" alt="" />
        </div>

    </div>
</div>

<main class="wrapper main-content" role="main">

</main>
